@import '../../styles/mixins';
@import '../../styles/variables';

.hero {
  @include grid-desktop;
  // background-color: $background-one;
  background-image: url(/images/areaInicial.svg);
  height: 100lvh;
  width: 100lvw;
  text-align: center;
}

.container {
  @include container-base;
  @include flex-direction;
  gap: 88px;
  margin: 0 auto;
}

.title {
  @include paragraph-base;
  font-size: $size-titule-heroSection;
}

.subtitle {
  @include paragraph-base;
  font-size: $size-subtitule-heroSection;
}

.ctaButton {
  @include button-base;
}
