@import '../../styles/mixins';
@import '../../styles/variables';

.hero {
  @include grid-desktop;
  background-color: $dark-color;
  height: 100lvh;
  width: 100lvw;
  text-align: center;
}

.container {
  @include flex-center;
  gap: 16px;
  margin: 0 auto;
}

.paragraph {
  color: $light-color;
  font-size: $size-text-block;
  font-weight: 400;
}

.ctaButton {
  @include button-base;
}
