@import './variables';

// _mixins.scss

@mixin container-base {
  width: 100lvw;
  height: 100lvh;
}

@mixin paragraph-base {

  color: $paragraph-color;
  font-family: $font-base;

}

@mixin paragraph-explanatory {

  color: $paragraph-color;
  font-size: $size-base;
  font-family: $font-explanatory;


}

@mixin button-base {
  // display: flex;
  // align-items: center;
  padding: 12px 12px;
  width: 204;
  height: 56;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background-color: $dark-color;
  color: $paragraph-color;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }
}

@mixin grid-desktop {

  padding: 127px 88px;

}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
