@import './variables';

// _mixins.scss

@mixin container-base {
  height: 100lvh;
}

@mixin paragraph-base {

  font-family: $font-base;
  font-size: $size-subtitule-heroSection;

}

@mixin titule-base {

  font-weight: bold;
  font-size: $size-subtitule-heroSection;
  font-family: $font-base;

}

@mixin paragraph-explanatory {

  color: $paragraph-color;
  font-size: $size-base;
  font-family: $font-explanatory;


}

@mixin button-base {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 8px;
  width: 180;
  height: 48;
  border-radius: $border-radius8;
  // border: 1px solid $border-color;
  // background-color: $dark-color;
  // color: $paragraph-color;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  // &:hover {
  //   border-color: $primary-color;
  //   color: $primary-color;
  // }
}

@mixin grid-desktop {

  padding: 56px 88px;

}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-direction {

  display: flex;
  flex-direction: column;
  align-items: center;

}


