// _variables.scss

// Colors
$primary-color: #E4D12C;
$dark-color: #1A1A1A;
$light-color: #F9F9F9;
$paragraph-color: #BEBEBE;
$background-one: #303130;
$border-color: #000000;

// Fonts
$font-base: 'Sora', sans-serif;
$font-explanatory: 'inter', sans-serif;
$size-base: 28px;
$size-text-block: 16px;
$size-titule-heroSection: 40px;
$size-subtitule-heroSection: 20px;
$size-titule-areasSection: 28px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// Border
$border-radius: 8px;
