// _variables.scss
$F3EFEA: #F3EFEA;
$F6EEE2: #F6EEE2;
$FEFCF7: #FEFCF7;
$BAA78D: #BAA78D;

$DFD0BD: #DFD0BD;
$DFD1BE: #DFD1BE;



// Backgrounds-Windows
    // Header
        // $backgound-Header: ;
    // HeroSection
        $backgound-HeroSection: $F3EFEA;
    // AreasSection
        $backgound-AreasSection: $FEFCF7;
            $backgound-AreasSection-Lateral: $F6EEE2;
    // ContatoSection
        $backgound-ContatoSection: $FEFCF7;
            $backgound-ContatoSection-BlocoUm: $FEFCF7;
            $backgound-ContatoSection-BlocoDois: $BAA78D;
    // Footer
        $backgound-Footer: $F3EFEA;

// Backgrounds-Buttons
    $Button0: $DFD0BD;
    $Button1: $DFD1BE;
    $Button2: $BAA78D;


// Colors
$primary-color: #E4D12C;
$dark-color: #1A1A1A;
$light-gray: #E1DED9;
$light-color: #F9F9F9;
$paragraph-color: #BEBEBE;
$background-one: #303130;
$border-color: #000000;

// Fonts
$font-base: 'Sora', sans-serif;
$font-explanatory: 'inter', sans-serif;
$size-base: clamp(1.25rem, 1.5vw, 1.75rem);                  // 20px ~ 28px
$size-text-block: clamp(0.875rem, 1vw, 1rem);                // 14px ~ 16px
$size-titule-heroSection: clamp(1.8rem, 3vw, 2.5rem);          // 32px ~ 40px
$size-subtitule-heroSection: clamp(1.2rem, 1.5vw, 1.25rem);    // 16px ~ 20px
$size-titule-areasSection: clamp(1.25rem, 2vw, 1.75rem);     // 28px ~ 30px

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// Border
$border-radius8: 8px;
$border-radius16: 16px;
$border-radius32: 32px;
