// globals.scss

@import 'variables';
@import 'mixins';
@import 'typography';

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  color: $dark-color;
  // font-family: $font-primary;
}
