@import '../../styles/mixins';
@import '../../styles/variables';

.hero {

  @include grid-desktop;
  display: flex;
  background-color: $light-gray;
  min-height: 100dvh;
  // width: 100lvw;
  text-align: center;
  
}

.container {

  @include flex-direction;
  gap: 2rem;
  margin: 0 auto;

}

.containerAreasGlobal {

    display: flex;
    gap: 2rem;

}

.containerAreas {

    @include flex-center;
    flex-direction: column;
    width: 100%;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.514);
    background-color: $light-color;
    padding: 32px 32px;
    border-radius: 2px;
    gap: 2rem;

  p {

    font-size: $size-subtitule-heroSection;

  }

}

.titleSection {

  color: $dark-color;
  font-size: $size-titule-areasSection;
  border-bottom: 2px solid $dark-color; 
  display: inline-block; 
  margin-bottom: 4px; 

}

.title {

  @include titule-base;

}

.paragraph {

  color: $background-one;
  font-size: $size-text-block;
  font-weight: 400;

}

.ctaButton {

  @include button-base;
  width: auto;
  font-size: .9rem;
  color: $dark-color;
  background: none;
  // transition: transform 0.4s ease, border-color 0.4s ease;
  transition: background-color 0.8s ease, color 0.8s ease;

   &:hover {

    background-color: $dark-color;
    color: $primary-color;

  }

  .iconButton {

  width: 1.5rem;

  }

}
