@import '../../styles/mixins';
@import '../../styles/variables';

.hero {
  @include grid-desktop;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: $dark-color;
  text-align: center;
  color: $light-color;
}

.containerHero {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

}

.containerHero p {

  font-weight: bold;

}

.containerParagrafoImagem {

  display: flex ;
  gap: 1rem;

}

.containerParagrafoImagem p {

  width: 24rem;
  font-weight: lighter !important;

}

// .container {
//   @include flex-direction;
// }
